<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verification</title>
  </head>

  <body>
    <div
      style="
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      "
    >
      <h1 style="color: #333">Email Verification</h1>
      <p style="color: #555; line-height: 1.5">
        Please click the button below to verify your email:
      </p>

      <a
        href="<%= emailVerificationLink %>"
        style="
          display: inline-block;
          padding: 10px 20px;
          background-color: #007bff;
          color: #ffffff;
          text-decoration: none;
          border-radius: 5px;
          font-weight: bold;
        "
        >Confirm Email</a
      >
      <p style="color: #555; line-height: 1.5">Thank you for choosing us!</p>
      <!-- <p style="font-weight: bold; color: #ff0000">
        Note: This verification link is valid for 5 minutes only.
      </p> -->
    </div>
  </body>
</html>
